:root {
    --primary: #F8FAF9;
    --accent: #0891b2;
    --bg: #f3f4f6;
    --lms-border: #e5e7eb;
    --sidebar-width: 250px;
    --sidebar-collapsed: 70px;
    --lms-dark-bg: #131A17;
    /* Ground background */
    --lms-sidebar: #1A2421;
    /* Deep Forest */
    --lms-card: #26322E;
    /* Elevated surface */
    --lms-mint: #86EFAC;
    /* Glowing Sage Accent */
    --lms-text-pearl: #F1F5F9;
    /* Soft text */
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: var(--bg);
}

.navbar {
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.bi {
    color: #718096;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand {
    font-size: 1.2rem;
    color: var(--text);
}

#toggle-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--primary);
}

.sidebar {
    width: var(--sidebar-width);
    background: var(--primary);
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    color: var(--lms-card);
}

.nav-list li.active .side, 
.nav-list li.active i {
    color: #FFFFFF !important;
    
}

.side {
    color: var(--lms-card);
    transition: color 0.3s ease;
}

.side {
    color: var(--lms-card);
}

.sidebar.collapsed {
    width: var(--sidebar-collapsed);
}

.nav-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.nav-list li a {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    color: #bdc3c7;
    text-decoration: none;
    transition: 0.2s;
    white-space: nowrap;
}

.nav-list li a i {
    min-width: 30px;
    font-size: 1.1rem;
}

.nav-list li a:hover,
.nav-list li.active a {
    background: #34495e;
    color: white;
    border-radius: 18px;
}

.content {
    margin-top: 60px;
    margin-left: var(--sidebar-width);
    padding: 20px;
    transition: 1.0s;
}

.content.expanded {
    margin-left: var(--sidebar-collapsed);
}

.sidebar.collapsed span {
    display: none;
}